/* Common shared styles */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

body{
    font-family: 'Lato' , sans-serif;
    font-family: 'Open sans' , sans-serif;
    font-weight: 700;
    font-style: normal;
}

/* primary color */
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}
/* Nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747 ;
} 

/* header related style */
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-image: url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position: left;
}
.banner{
    padding: 60px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-content{
    max-width: 500px;
}
.banner .prifile-pic{
    width: 500px;
}
.banner-greetings{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.banner-description{
    margin-bottom: 30px;
}